<!DOCTYPE html>
<html>

<head>
    <title>Movie List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/layui/css/data.css">

</head>

<body class="mdui-theme-primary-teal">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow  fixed-top">
        <h5 class="my-0 mr-md-auto font-weight-normal">Explainable AI</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="#">Features</a>
          <a class="p-2 text-dark" href="#">Enterprise</a>
          <a class="p-2 text-dark" href="/users/survey">Survey</a>
        </nav>
        <input id = 'regenerate' value = 'generate again !' class='btn btn-success' type="button">
        <!-- <a class="btn btn-outline-success" href="#">Sign up</a> -->
    </div>
    <div class="container border border-light rounded-lg col-11 box-shadow" id="containerarea1">
        <div class="row datarow">
            <div class="col-8" id='piechart'>
            </div>
            <div class="col-3" id='sliderarea' class='sliderarea'>
            </div>
            <div class="col-1">
            </div>

        </div>
        <div id='loading' class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <div id='recarea'>
        <!-- <input id = 'top10' value = 'top10' class='btn btn-success' type="button"> -->

        </div>

    </div>
    <!-- <footer class="fixed-bottom box-shadow"> -->

    

    <script src="/libs/layui/data.js"></script>
    <script type="text/javascript">
        var genreName = new Map([["1","Action"],["2","Adventure"],["3","Animation"],["4","Children's"],["5","Comedy"],["6","Crime"],["7","Documentary"],["8","Drama"],["9","Fantasy"],["10","Film-Noir"],["11","Horror"],["12","Musical"],["13","Mystery"],["14","Romance"],["15","Sci-Fi"],["16","Thriller"],["17","War"],["18","Western"]]);
        var rec = <%-JSON.stringify(rec)%>;
        var userID = <%-JSON.stringify(userID)%>;
        var recommList = rec.recPro;
        var genrePro = rec.genrePro;
        var genres = rec.genres;
        var topn = rec.topn;

        for(var g in genres){
            if (genres[g] < 0.02)
                delete genres[g];
        }
        var numOfGen = genres.size;


        setPara(genres);
        change(randomData());

        console.log(genres);


        var sliderarea = document.getElementById("sliderarea");
        var recarea = document.getElementById("recarea");


        window.οnlοad = loadSliders(numOfGen, sliderarea, 'slider');
        window.οnlοad = loadRec(recommList);
        function loadRec(recList){
            var i = 1;
            var maxscore = recommList[0][1];
            for (var r in recList){
                movieID = recommList[r][0];
                score = recommList[r][1]/maxscore * 10;
                score = score.toFixed(2);
                movieName = recommList[r][2];
                recarea.innerHTML=recarea.innerHTML + "<div class='container border border-light rounded-lg col-11 box-shadow item' id='container" + String(movieID) + "'><div class='row'><div class='col-3 picarea'><div class = ''><img class='pic' src='" + recommList[r][3] + "'></div></div><div class='col-9'><div class='container'><div class='row'><div class='title'><p>" + i + ". " + movieName
                    + "</p></div></div><div class='row'><div class=''><span class='fa fa-star checked'></span><p class='score'>" + score + "</p></div></div><div class='slderarea2'></div></div></div></div></div></div>";
                i++;
            }
        }
        for (var r in genrePro){
            // console.log(r + " " + genrePro[r] + "container" + String(r));
            var sliderareas = document.getElementById("container" + String(r));
            var slider = sliderareas.getElementsByClassName("slderarea2")
            window.οnlοad = loadSliders2(genrePro[r], slider[0],"slider" + String(r));
        }

        var sortable = [];
        for (var score in genre_score) {
            sortable.push([score, genre_score[score]]);
        }

        sortable.sort(function(a, b){
            return b[1] - a[1];
        });
        function executeScript(html){
            var reg = /<script[^>]*>([^\x00]+)$/i;
            //对整段HTML片段按<\/script>拆分
            var htmlBlock = html.split("<\/script>");
            for (var i in htmlBlock) 
            {
                var blocks;//匹配正则表达式的内容数组，blocks[1]就是真正的一段脚本内容，因为前面reg定义我们用了括号进行了捕获分组
                if (blocks = htmlBlock[i].match(reg)) 
                {
                    //清除可能存在的注释标记，对于注释结尾-->可以忽略处理，eval一样能正常工作
                    // var code = blocks[1].replace(/<!--/, "");
                    // console.log(blocks[1]);
                    // blocks = blocks[1].split('function executeScript');
                    // console.log(blocks[0])
                    eval(blocks[1]);//执行脚本

                
                }
            }
        }
        $(document).ready(function () {
            $('#loading').hide();
            $("#sliderarea .slider").change(function () {
                var index = this.id.replace("slider ", "");
                var value = this.value / 80 * sortable[0][1];
                genre_score[String(index)] = value;
                console.log(genre_score);
                change(randomData());
            });
            $(".movieslider .slider").change(function () {
                var index = this.id.replace("slider", "").split(" ");
                var movieID = index[0];
                var genreID = index[1];
                var value = this.value / 100;
                genrePro[movieID][genreID] = value;
            });
            $('#regenerate').click(function(){ 
                $.ajax({ 
                    url: '/users/update',
                    type: 'POST',
                    cache: false, 
                    contentType: "application/json",
                    data: JSON.stringify({ 
                        genre_score: genre_score,
                        genrePro: genrePro,
                        userID: userID,
                        topn:topn
                    }),
                    beforeSend: function() {
                        $('#loading').show();
                        $("#sliderarea").html("");
                        $("#recarea").html("");
                    },
                    success: function(data){
                        // $("#piechart").html("");
                        $("#sliderarea").html("");
                        $("#recarea").html("");
                        executeScript(data);
                        $('#loading').hide();
                    }
                    , error: function(jqXHR, textStatus, err){
                        alert('text status '+textStatus+', err '+err)
                        }
                })
            }); 

        });


    </script>
</body>

</html>
<!-- 
<div class='container border border-light rounded-lg col-11 box-shadow' id='container" + String(movieID) + "'>
    <div class = 'pic'><img height=300px></div>
    <div class='container'>
        <div class='row'>
            <div class='col-6 cell'><p></p>
            </div>
            <div class='col-5' id='sliderarea2' class='sliderarea'>
            </div>
        </div>
        <div class='container'>
            <div class='row'>
                <div class='col-6 cell'><p>" + movieName + "</P>
                </div>
            </div>
        </div>
    </div>
</div>"; -->